version: 2.1
jobs:
  build:
    machine: true
    steps:
      - checkout
      - run:
        command: |
          set -x
          curl -L https://github.com/docker/compose/releases/download/1.25.3/docker-compose-`uname -s`-`uname -m` > /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose